.seo-footer{padding-bottom:60px}

.navbar-fixed {
    background: #380200;
}
.navbar-fixed .button-collapse {
    background-color: #790303;
}

.wrapper {
background: rgb(152,40,11);
background: url(../images/background-altm.jpg) no-repeat fixed;
    background-size: 100% 100%;
}
.progressive-jackpot{filter:unset}
.progressive-jackpot>h2{visibility:hidden}
.btn-secondary-primary{
    background:url(../images/btn-login-altm.png) no-repeat;
    background-position:center;
    background-size:100% 100%;
    color:#fff;
} 

.btn-join{
    background:url(../images/btn-register-altm.png) no-repeat;
    background-position:center;
    background-size:100% 100%;
    color:#fff;
} 


.page-header-title {
    background-color: #2f0000;
}

.account-menu a.active {
    color: #000;
    background-color: #f3d924;
}

.navigation-ribbon .navigation-ribbon-item .active {
    color: #ffc93f;
}

.browser-default input {
    color: #e8e8e8;
    background-color: #333333;
}

.bottom-nav-bar a.active {
    color: #f3d924;
}

.promotions-category a.active {
    color: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3d924), color-stop(99%, #f3d924));
    background: -webkit-linear-gradient(top, #f3d924 0%, #f3d924 99%);
    background: -o-linear-gradient(top, #f3d924 0%, #f3d924 99%);
    background: linear-gradient(to bottom, #f3d924 0%, #f3d924 99%); 
    border-bottom-color: #f3d924;
}

.btn-account ul a.icon-btn {
    padding: 10px;
    width: 80px;
    background: url(../images/btn-login-altm.png);
    background-size: 100% 100%;
    background-position: center;
    color:#fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#565656',GradientType=0 );
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    font-family: inherit !important;
}

.supported-bank {
    border-top: 2px solid #ff0000;
    padding-top: 20px;
    padding-bottom: 20px
}

.custom-page{border-width:2px; border-color:#eeba29}
.bonus-button.btn-await-approval { 
    background-color: #483b00;
    color: #ffefeb;
}
.bonus-button.active {
    background-color: #483b00;
    color: #ffefeb;
}
.bonus-button.active:hover {
    background-color: #483b00;
    color: #ffefeb;
    cursor: pointer;
}

.progress-value{background:linear-gradient(180deg, rgba(238, 186, 0, 0.6) 0%, rgb(220, 200, 0) 100%)}

.item-provider.selected{border-bottom:3px solid #ff0000;background-color:rgba(243, 217, 36, 0.6)}

/* Menu Game Front index page */
.game-menu li a.active{
	background: linear-gradient(to bottom, #f00018 1%, #B20000 100%);
    filter: drop-shadow(0px 0px 6px #ffc93f);
    color: #ffc93f;
}
.game-front-wrapper{background:url(../images/menu-altm.jpg);background-position:center;}

/* Fixing WA widget position */
.okewa-right #okewa-floating_cta{bottom:56px !important;left:10px !important}
.okewa-right .okewa-pulse_3{left:12px !important;right:0 !important;bottom:59px !important}

/*Bank*/
.supported-bank .bank{border: 1px solid #ffdd00;background-color:#370200}

/* Favorite */
.filter-tools a:hover, .filter-tools a.selected, .history-button{
    background: radial-gradient(circle, transparent 1%, #ffc93f 1%) center center / 15000% #ffc93f;
    border: 1px solid rgb(11 30 16 / 70%);
    color: rgb(11 30 16 / 80%);
}
